In [1]:
import pandas as pd

In [12]:
data = pd.read_csv("20.csv", header = None)

In [13]:
data

             0       1       2       3       4        5
0      94.0390  142.51  221.27  339.26  340.85   9503.0
1     107.6600  170.76  199.92  310.61  332.60  10107.0
2      61.9670  143.51  231.63  305.04  328.60   7506.3
3      86.8510  107.66  216.18  333.62  320.53   8724.5
4      78.7730  148.64  251.70  322.27  346.57   8713.1
...        ...     ...     ...     ...     ...      ...
2295   47.9820  182.67  287.22  296.28  373.61   7723.9
2296   75.4380  150.03  214.10  313.37  334.17   8170.4
2297   63.0570  158.24  212.85  330.85  340.02   7781.8
2298   78.8750  169.61  241.20  346.12  372.23   9126.0
2299   -3.4033  122.32  255.98  345.18  392.60   7178.9

[2300 rows x 6 columns]

In [14]:
data.corr()

          0         1         2         3         4         5
0  1.000000  0.014514 -0.006043 -0.017395  0.016438  0.951735
1  0.014514  1.000000  0.032741 -0.001900 -0.037500  0.046233
2 -0.006043  0.032741  1.000000  0.017146  0.031595  0.098727
3 -0.017395 -0.001900  0.017146  1.000000 -0.009506  0.111425
4  0.016438 -0.037500  0.031595 -0.009506  1.000000  0.179275
5  0.951735  0.046233  0.098727  0.111425  0.179275  1.000000

https://machinelearningmastery.com/tutorial-first-neural-network-python-keras/